comtypes
docx2pdf
Flask
langchain
modules
numpy
openpyxl
pandas
piexif
pillow
pillow_heif
pkg_resources
plugins
pyexiv2
PyMuPDF
pyodbc
python-pptx
pywin32
pywinauto
requests
spacy
speedtest
SQLAlchemy
your_image_extraction_module
