__builtin__
__main__
__pypy__
_abcoll
_ast_gen
_brotli
_cffi_backend
_distutils_hack
_distutils_system_mod
_dummy_thread
_manylinux
_typeshed
_winreg
adal
ai_emtac
aio_pika
aiohttp
aioquic
aioredis
alembic
android
anthropic
anyio
argon2
argon2pure
asgiref
asyncmy
asyncpg
attr
audit_system
auditlog
authlib
autocommand
awscrt
azure
babel
backports
BaseHTTPServer
bcrypt
bcryptor
beaker
bidict
bleach
blinker
blueprints
boto3
botocore
branding
brotli
brotlicffi
c_ast
ca_certs_locater
cachetools
cchardet
certifi
cffi
chardet
charset_normalizer
click
colorama
comtypes==1.4.0; platform_system == "Windows"
config
config_distro
config_local
config_system
ConfigParser
cPickle
Crypto
Cryptodome
cryptography
cStringIO
ctags
cx_Oracle
Cython
data_service
datasets
dateutil
dbus
decorator
defusedxml
distlib
django
dl
dns
docker_config
docutils
docx2pdf==0.1.8; platform_system == "Windows"
dogpile
dotenv
dummy_thread
dummy_threading
easyocr
einops
email_validator
emtacdb_fts
engineio
eventlet
fastpbkdf2
filelock
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
Flask==3.0.3
flask_babel
flask_bcrypt
flask_compress
flask_limiter
flask_login
flask_mail
flask_mailman
flask_paranoid
flask_principal
flask_security
flask_socketio
flask_sqlalchemy_lite
future
fuzzywuzzy
gevent
geventwebsocket
gi
google
google_auth_httplib2
google_auth_oauthlib
googleapiclient
gpt4all
greenlet
grpc
grpc_gcp
grpc_status
gssapi
gunicorn==22.0.0
h11
htmlentitydefs
HTMLParser
httpcore
httplib
httplib2
httpx
huggingface_hub
idna
importlib_metadata
importlib_resources
inflect
invoke
IPython
ipywidgets
isodate
itsdangerous==2.1.2
jaraco
java
Jinja2==3.1.3
jmespath
jnius
jsonformatter
jwt
kafka
keyring
kivy
kivymd
kombu
langchain
ldap3
lextab
libgravatar
lingua
linkify_it
lxml
main_app
mako
markdown_it
markupsafe
matplotlib
mdurl
megablocks
models
modules
mongoengine
more_itertools
msal
msal_extensions
msgpack
msrest
msrestazure
multidict
mypy
mysql
nacl
nltk
ntlm
numpy==1.26.4
oauth2client
oauthlib
olefile
openai
openpyxl==3.1.2            # keep 3.1.2 to avoid resolver conflicts you hit with 3.1.5
OpenSSL
opentelemetry
oracledb
org
packaging
pandas==2.2.1
paramiko
passlib
pathlib2
pdf2image==1.17.0
pdfplumber==0.11.0
peewee
pgacloud
pgadmin
pgvector==0.4.1
phonenumbers
piexif
Pillow==10.3.0
pillow_heif
pip
pkg_resources
platformdirs
pluggy
plugins
ply
plyer
png
pony
pop_widgets
portalocker
proto
providers
psutil
psycopg
psycopg2-binary==2.9.10; platform_system != "Windows"
psycopg2==2.9.10; platform_system == "Windows"
psycopg_binary
psycopg_c
psycopg_pool
pyannotate_runtime
pyasn1
pyasn1_modules
pycparser
pyexiv2
pygments
pymsalruntime
PyMuPDF==1.26.3            # provides 'fitz' module
pymysql
pyodbc
pyotp
pyparsing
pypdfium2==4.28.0
PyQt6
PySide6
pysqlcipher3
pytest
python-docx==1.1.0
python-dotenv==1.1.0
python-pptx==0.6.23        # provides 'pptx' module
pytz
pyu2f
pywin32==306; platform_system == "Windows"
pywinauto
qrcode
quart
Queue
railroad
re2
redis==5.0.1
reportlab
requests==2.31.0
requests_oauthlib
rich
rsa
s3transfer
safetensors
sanic
scikit-learn
scrypt
seaborn
secretstorage
sentence-transformers
seqeval
sets
setup
setuptools
shapely
shellingham
shtab
simple_websocket
simplejson
six
snapshot_utils
sniffio
socketio
SocketServer
socks
spacy
speedtest
sphinx
sqla_plugin_base
SQLAlchemy==2.0.29
sqlcipher3
sqlparse
sshtunnel
sspi
sspicon
starlette
StringIO
thread
tinyllaman_speedtst
tomli
tomllib
torch
tornado
transformers
trio
trove_classifiers
twilio
typeguard
typer
typeshed
typing_extensions
ua_parser
ua_parser_builtins
ua_parser_rs
uritemplate
urllib2
urllib3
urllib3_secure_extra
urlparse
user_agents
UserDict
utilities
utility_tools
utils
uwsgi
version
virtualenv
watchdog
webauthn
websocket
Werkzeug==3.0.2
wheel
win32cred
win32ctypes
winkerberos
winpty
wmi
wsproto
WTForms-SQLAlchemy==0.4.2
WTForms==3.1.2
wtforms_sqlalchemy
xmlrpclib
yacctab
yaml
your_image_extraction_module
your_module
zipp
zstandard
zxcvbn
