<!-- Solutions Tab Content Partial -->
<div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab">
    <h4 class="mt-3" id="selected-problem-name">Problem Solutions</h4>
    <div class="mb-3">
        <label for="existing_solutions" class="form-label">Related Solutions</label>
        <select class="form-select" id="existing_solutions" size="5" multiple></select>
    </div>
    <div class="mb-3">
        <label for="new_solution_name" class="form-label">New Solution Name</label>
        <input type="text" class="form-control" id="new_solution_name" name="new_solution_name" placeholder="Enter New Solution Name">
    </div>
    <div class="mb-3">
        <label for="new_solution_description" class="form-label">New Solution Description</label>
        <input type="text" class="form-control" id="new_solution_description" name="new_solution_description" placeholder="Enter New Solution Description">
    </div>
    <button type="button" id="addSolutionBtn" class="btn btn-success mt-2">Add Solution</button>
    <button type="button" id="removeSolutionsBtn" class="btn btn-danger mt-2">Remove Selected Solutions</button>
</div>